body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
}
/* Cabeçalho */
.cabecalho{
    background-color: #fcfcfc;
    border-bottom: 2px solid #dcdcdc;
    
}
.cabecalho > .container{
    display: flex;
    align-items:center;
    
}

.cabecalho_logoIfood{
    margin-right: 20px;
}
.cabecalho_logoIfood > figure{}
.cabecalho_logoIfood > figure > img{
    width: 90px;
}
.cabecalho_logoIfood > figure > figcaption{
    display: none;
}

.cabecalho_restaurante{
    display: flex;
    align-items: center;
}
.cabecalho_fundoimg{
    background-color: #B73133;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding-top: 1px;
    margin-right: 10px;
}
.cabecalho_fundoimg > img{
    width: 50px;
}
.cabecalho_restaurante > p{
    color: #717171;
    font-weight: 600;
}
/* PRINCIPAL */
main{
    margin-bottom: 230px;
}

/* SEÇÃO INFORMAÇÕES RESTAURANTE */
.secaoInfoRestaurante{
    margin-top: 40px;
    margin-bottom: 70px;
}
.secaoInfoRestaurante > .container{}

.secaoInfoRestaurante_descricao{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.logoRestaurante{
    background-color: #0000ff;
    display:inline-block;
    width: 42px;
    height: 35px;
    text-align: center;
    border-radius: 100%;
    padding-top: 6px;
    margin-right: 20px;
}
.logoRestaurante>img{
    width: 25px;
}
.logoRestaurante>figcaption{
    display: none;
}
.nomeRestaurante{
    font-weight: 600;
    color: #717171;
}

.pesquisar{
    display: flex;
    margin-left: 40px;
    border: 1px solid #f4f4f4;
    border-radius: 5px;

}
.pesquisar>button{
    background-color: transparent;
    border: none;
    outline: none;
}
.pesquisar>button>img{
    width: 45px;
}
.pesquisar>input{
    border: none;
    outline: none;
    margin-left: 10px;
}

/* SEÇÃO PRATOS EM DESTAQUE */

.secaoPratosDestaques{}
.secaoPratosDestaques_titulo{
    font-size: 28px;
    font-weight: 600;
    color: #3e3e3e;
    margin-bottom: 30px;
}

.secaoPratosDestaques_listaPratos{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.secaoPratosDestaques_itemPrato{
    width: 32%;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding-bottom: 10px;
    box-shadow: 2px 5px 3px 0px #d2d2d2;
}
.secaoPratosDestaques_itemPrato>a{
    color: #3e3e3e;
    text-decoration: none;
    font-weight: 600;
}
.secaoPratosDestaques_itemPrato>a>figure{}
.secaoPratosDestaques_itemPrato>a>figure>img{
    width: 100%;
    
}
.secaoPratosDestaques_itemPrato>a>figure>figcaption{
    display: none;
}

.secaoPratosDestaques_nomePrato{
    padding-bottom: 90px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.secaoPratosDestaques_precoPrato{
    display: inline-block;
    padding-left: 15px;
}


/* CONTEÚDO PRINCIPAL */
.conteudoPrincipal{
    margin-top: 60px;
}
.conteudoPrincipal > .container{
    display: flex;
    justify-content: space-between;
}

/* SEÇÃO SOBREMESAS */
.secaoSobremesas{
    width: 65.4%;
}
.secaoSobremesas_titulo{
    color: #3E3E3E;
    font-size: 28px;
    font-weight: 600;
}

.secaoSobremesas_lista{
    margin-top: 30px;
}
.secaoSobremesas_item{
    margin-bottom: 32px;
    box-shadow: 2px 5px 3px 0px #d2d2d2;
    border-radius: 5px;
}
.secaoSobremesas_item> a{
    text-decoration: none;
    color: #3E3E3E;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #e0e0e0;
    flex-direction: row-reverse;
}

.secaoSobremesas_item > a > div{
    padding: 20px;
}
.secaoSobremesas_item> a > div > h3{}
.secaoSobremesas_item> a > div > p{
    color: #787878;
    font-weight: 500;
    padding-top: 26px;
    padding-bottom: 78px;
}
.secaoSobremesas_item > a > div > span{}

.secaoSobremesas_item > a > figure{}
.secaoSobremesas_item > a > figure > img{
    width: 250px;
}
.secaoSobremesas_item > a > figure > figcaption{
    display: none;
}

/* SEÇÃO CARRINHO */
.secaoCarrinho{
    width: 31%;
}
.secaoCarrinho_titulo{
    font-size: 28px;
    font-weight: 600;
    color: #EA1D2C;
}
.secaoCarrinho_conteudo{
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 60px 40px;
    margin-top: 40px;
}

.secaoCarrinho__listaItens{}
.secaoCarrinho__item{
    font-weight: 600;
    color: #3e3e3e;
    border-bottom: 2px solid #3E3E3E;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.secaoCarrinho__item > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.secaoCarrinho_item > div > h3{}
.secaoCarrinho_item > div > span{}
.secaoCarrinho_item > button{
    color: #A6A6A6;
    font-weight: 600;
    background-color: transparent;
    border: none;
    font-size: 15px;
    padding: 0;
}

.secaoCarrinho__total{
    font-weight: 600;
    color: #3e3e3e;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.secaoCarrinho__total > p{}
.secaoCarrinho__total > span{}

.secaoCarrinho__formaPagamento{
    text-align: center;
}
.secaoCarrinho__formaPagamento > button{
    background-color: #EA1D2C;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding: 18px 0;
    border-radius: 5px;
    width: 100%;
}