body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
}
/* Cabeçalho */
.cabecalho{
    background-color: #f7f7f7;
    border-bottom: 2px solid #dcdcdc;
    
}
.cabecalho > .container{
    display: flex;
    align-items:center;
    
}

.cabecalho_logoIfood{
    margin-right: 20px;
}
.cabecalho_logoIfood > figure{}
.cabecalho_logoIfood > figure > img{
    width: 90px;
}
.cabecalho_logoIfood > figure > figcaption{
    display: none;
}

.cabecalho_restaurante{
    display: flex;
    align-items: center;
}
.cabecalho_fundoimg{
    background-color: #B73133;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding-top: 1px;
    margin-right: 10px;
}
.cabecalho_fundoimg > img{
    width: 50px;
}
.cabecalho_restaurante > p{
    color: #717171;
    font-weight: 600;
}
/* PRINCIPAL */
main{}

/* SEÇÃO INFORMAÇÕES RESTAURANTE */
.secaoInfoRestaurante{
    margin-top: 40px;
    margin-bottom: 70px;
}
.secaoInfoRestaurante > .container{}

.secaoInfoRestaurante_descricao{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.logoRestaurante{
    background-color: #0000ff;
    display:inline-block;
    width: 42px;
    height: 35px;
    text-align: center;
    border-radius: 100%;
    padding-top: 6px;
    margin-right: 20px;
}
.logoRestaurante>img{
    width: 25px;
}
.logoRestaurante>figcaption{
    display: none;
}
.nomeRestaurante{
    font-weight: 600;
    color: #717171;
}

.pesquisar{
    display: flex;
    margin-left: 40px;
    border: 1px solid #f4f4f4;
    border-radius: 5px;

}
.pesquisar>button{
    background-color: transparent;
    border: none;
    outline: none;
}
.pesquisar>button>img{
    width: 30px;
}
.pesquisar>input{
    border: none;
    outline: none;
    margin-left: 10px;
}

/* SEÇÃO PRATOS EM DESTAQUE */

.secaoPratosDestaques{}
.secaoPratosDestaques_titulo{
    font-size: 28px;
    font-weight: 600;
    color: #3e3e3e;
}
.secaoPratosDestaques_listaPratos{
    display: flex;
    
}
.secaoPratosDestaques_itemPrato{}
.secaoPratosDestaques_itemPrato>a{}

.secaoPratosDestaques_imgPrato{}
.secaoPratosDestaques_imgPrato>img{
    width: 200px;
}
.secaoPratosDestaques_imgPrato>figcaption{}

.secaoPratosDestaques_nomePrato{}
.secaoPratosDestaques_precoPrato{}